@import url('https://fonts.googleapis.com/css2?family=Acme&family=Almarai:wght@700&family=Changa+One:ital@1&family=Exo+2:ital,wght@1,300&family=Gabarito:wght@500&family=Itim&family=Outfit:wght@300&family=Ubuntu:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

.Display{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.Subject{
    margin: auto;
    font-family: "Gabarito", sans-serif;
    color: #113946;
    letter-spacing: 3px;
    transition: 0.5s;
}

.Subject:hover{
    letter-spacing: 8px;
    cursor: pointer;
}

.Sosmed{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    text-align: center;
}

.Border{
    width: 200px;
    height: 100px;
    border-radius: 15px;
    box-shadow: 3px 3px 6px #BCA37F;
    align-items: center;
    margin:  100px 30px;
    transition: 1s;
}

.Border:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 5px 5px 8px #cba770;
}

.Image{
    margin-top: 20px;
}

.Account{
    margin-top: 0px;
    font-family: 'Rubik', sans-serif;
}